@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
  font-family: 'URW Gothic L';
  font-weight: normal;
}

@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Bold.woff
);
  font-family: 'URW Gothic L';
  font-weight: bold;
}

html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.header {
  display: inline-block;
  align-items: baseline;
  justify-content: space-between;
  margin: 50px 0;
}

body {
  background-color: white;
  color:  #323131;
  position: relative;
  max-width: 650px;
  min-height: 80%;
  margin: 10px auto;
  font-family: 'URW Gothic L';
  box-sizing: border-box;
  padding: 36px;
  display: inline-block;
}


.logo {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.button {
  width: 130px;
  height: 40px;
  padding-top: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.2s;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.button:hover {
  opacity: 0.5;
}

.image {
  width: 80%;
  display: block;
  margin: 60px auto 50px;
}

.advice {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 70px;
}

.footer {
  font-size: 16px;
  margin: 0;
  position: absolute;
  bottom: 36px;
  text-align: center;
}
